@page "/"
<section class="landing">
    
    <div class="--input-search">
        <input type="text" @bind-value="RepositoryName" placeholder="MeatRocket/CRI-testing"> </input>
        <button><em class="fa-solid fa-magnifying-glass" @onclick="TestAsync"></em></button>
    </div>
    <div class="form-button">
        <button class="--btn-primary" @onclick="TestAsync"> Search </button>
    </div>


</section>

