################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngryCRI/v17
/.vs/CRI_V1
/CRI_V1/obj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/AngryCRI/FileContentIndex/read.lock
/.vs/AngryCRI/FileContentIndex/5cc048a3-86e7-4dd6-b306-161aa3b979c5.vsidx
